<app-navbar></app-navbar>

<div class="sidebar">
    <a routerLink="/edit"><i class="fa fa-thin fa-pen-to-square fa-fw me-3"></i>Edit Profile</a>
    <a class="active"><i class="fa fa-thin fa-file-lines fa-fw me-3"></i>Booking History</a>
    <a routerLink="/login"><i class="fa fa-thin fa-arrow-right-from-bracket fa-fw me-3"></i>Log Out</a>
</div>

<div class="content">
    <h3 class="basliq">Upcoming</h3>
    <div class="row">
        <div class="hotelimage">
            <img src="assets/img/hotelimage.png" alt="">
            <div class="centered">
                <h3>May 12</h3>
                <p>06:00-08:00</p>
            </div>
        </div>

        <div class="specs">
            <p id="hoteltype">Khalili Plaza</p>
            <p id="hotellocation" style="margin-bottom: 4rem;">19A Ahmad Rajabli, Baku 1052</p>
            <span style="font-size:200%;color:rgba(192, 163, 11, 1);">&starf;4.8</span>
            <span style="margin-left:350px;font-weight: 700 ;font-size: 18px;display: inline-block; color: rgba(10, 107, 203, 1);">Cancel</span>
        </div>
    </div>
    <h3 class="basliq">History</h3>
    <div class="row">
        <div class="hotelimage">
            <img src="assets/img/hotelimage.png" alt="">
            <div class="centered">
                <h3>May 12</h3>
                <p>06:00-08:00</p>
            </div> 
        </div>
        <div class="specs">
            <p id="hoteltype">Khalili Plaza</p>
            <p id="hotellocation" style="margin-bottom: 4rem;">19A Ahmad Rajabli, Baku 1052</p>
            <span style="font-size:200%;color:rgba(192, 163, 11, 1);">&starf;4.8</span>
            <span style="margin-left:350px;font-weight: bolder ;font-size: 18px;display: inline-block; color: rgba(10, 107, 203, 1);">Book Again</span>
        </div>
    </div>  
    
    <div class="row">
        <div class="hotelimage">
            <img src="assets/img/office.jpg" alt="">
            <div class="centered">
                <h3>May 12</h3>
                <p>06:00-08:00</p>
            </div>
        </div>
        <div class="specs">
            <p id="hoteltype">Khalili Plaza</p>
            <p id="hotellocation" style="margin-bottom: 4rem;">19A Ahmad Rajabli, Baku 1052</p>
            <span style="font-size:200%;color:rgba(192, 163, 11, 1);">&starf;4.8</span>
            <span style="margin-left:350px;font-weight: bolder ;font-size: 18px;display: inline-block; color: rgba(10, 107, 203, 1);">Book Again</span>
        </div>
    </div>
    
    <div class="row">
        <div class="hotelimage">
            <img src="assets/img/office.jpg" alt="">
            <div class="centered">
                <h3>May 12</h3>
                <p>06:00-08:00</p>
            </div>
        </div>
        <div class="specs">
            <p id="hoteltype">Khalili Plaza</p>
            <p id="hotellocation" style="margin-bottom: 4rem;">19A Ahmad Rajabli, Baku 1052</p>
            <span style="font-size:200%;color:rgba(192, 163, 11, 1);">&starf;4.8</span>
            <span style="margin-left:350px;font-weight: bolder ;font-size: 18px;display: inline-block; color: rgba(10, 107, 203, 1);">Book Again</span>
        </div>
    </div>
</div>