<app-navbar></app-navbar>


    <div class="sidebar">
        <a class="active" routerLink="/edit"><i class="fa fa-thin fa-pen-to-square fa-fw me-3"></i>Edit Profile</a>
        <a routerLink="/history"><i class="fa fa-thin fa-file-lines fa-fw me-3"></i>Booking History</a>
        <a routerLink="/login"><i class="fa fa-thin fa-arrow-right-from-bracket fa-fw me-3"></i>Log Out</a>
    </div>

    <div class="content">
        <form>
            <label for="crnt">Current Password</label>
            <input type="password" id="crnt" name="crnt" required>
        
            <label for="new">New Password</label>
            <input type="password" id="new" name="new" required>

            <label for="cnfrm">Confirm Password</label>
            <input type="password" name="cnfrm" id="cnfrm" required>

            <button id="reset" class="btn btn-primary" type="submit">Reset Password</button>
        </form>
    </div>