<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="images col-md-6 col-lg-7 d-none d-md-block">
                <img src="assets/img/ev2.webp"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 100%;" />
               
                  <img src="assets/img/Vector.png" alt="logo" class="inner-image">

              </div>
              <div class="col-lg-5 d-flex align-items-center">
                <div class="card-body p-4 text-black">
                    <h5 class="card-title text-center mt-0 mb-5">Sign up</h5>

                    <form>
                        <div class="form-floating mb-4">
                          <input type="email" class="form-control" id="floatingInput" placeholder="Email">
                          <label for="floatingInput">Email</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="email" class="form-control" id="floatingInput" placeholder="Username">
                            <label for="floatingInput">Username</label>
                          </div>
                        <div class="form-floating mb-4">
                          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                          <label for="floatingPassword">Password</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Confirm Password">
                            <label for="floatingPassword">Confirm Password</label>
                          </div>
          
                        <div class="d-grid" style="margin-top: 67px;">
                          <button id="login" routerLink="/login" class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign Up</button>
                        </div>

                        <p class="my-5" style="text-align: center;">
                            Already have an account? <a routerLink="/login">Log in</a>
                        </p>
                      </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>